/*
 * -------------------------------------------------
 *  ingestion Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  // params can be overriden using CLI flags (e.g. -output_dir 'ext/out')

  input_dir = '/data/from_landing_zone/'
  output_dir = '/data/graphdb-import/'
  notification_dir = '/data/notification/'
  shapes = 'assets/sphn-ontology/quality_assurance/shacl/shacl_2024-2.ttl'
  ontology = 'assets/sphn-ontology/rdf_schema/sphn_rdf_schema.ttl'
  terminology_folder = 'assets/external-terminologies/'
  input_rdf_ext = 'ttl'
  decrypt = false
  rerun = false
  buffer_size = 500

}

// Load log.config for interoperable Nextflow log
includeConfig 'conf/log.config'

// Set podman parameters
podman {
    enabled = true
    runOptions = '--entrypoint="" --group-add=keep-groups'

}

// Set profiles for local development, testing and production

profiles {
    standard {
        includeConfig 'conf/standard.config'
    }
    test {
        includeConfig 'conf/test.config'
    }
    biomedit {
        includeConfig 'conf/biomedit.config'
    }
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/sh', '-eu']

manifest {
  name = 'ingestion'
  author = 'Cyril Matthey-Doret and Stefan Milosavljevic'
  homePage = 'https://git.dcc.sib.swiss/nds-lucid/ingestion'
  description = 'This workflow will perform data validation and either output data in a folder (success) or generate an error (failure)'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.0.0'
}
