/*
 * ---------------------------------------------------------
 * sdsc-ordes/ingestion config file for running on BiomedIT
 * ---------------------------------------------------------
 * Defines setup for a workflow run on BioMedIT
 * where sett is available globally:
 *   nextflow run ingestion -profile biomedit
 */

params {
  config_profile_name = 'BioMedIT profile'
  config_profile_description = 'A profile to run the workflow on BioMedIT'

  // parameters

  decrypt = true
}

process {
            withName: extract_by_extension {
                // 7.2.0-slim-buster
                container = 'container-registry.dcc.sib.swiss/nds-lucid/fd-find@sha256:bab23063d5646a453589f78c177095bdb7e2bb85797fe32c65bcb85a886d4a7f'
            }
            withName: validation {
                // shacl:1.4.2_6cbf667
                container = 'container-registry.dcc.sib.swiss/nds-lucid/shacl@sha256:2298effcb57642a3363c0186376261a2b59d0fb71abf0c604db5fdbdec7581ee'
            }
            withLabel: 'rdf_conversion' {
                // jena:4.8.0
                container = 'container-registry.dcc.sib.swiss/nds-lucid/jena@sha256:adb9ed9f2c3085ea02a1e3c1ba05f801ac92a1bc7099964cfc0af3766847c037'
            }
}