/*
 * -------------------------------------------------
 *  SDSC-ORD/ingestion Nextflow local config file
 * -------------------------------------------------
 * Run this config to test ingestion outside of any
 * B-SPACE. Use as follows:
 *   nextflow run ingestion -profile local
 */

process {
            withName: extract_by_extension {
                container = ''
            }
            withName: validation {
                container = 'ghcr.io/sdsc-ordes/shacl:1.4.2_09e93ff'
            }
            withLabel: 'rdf_conversion' {
                container = 'registry.hub.docker.com/stain/jena:4.8.0'
            }
}