/*
 * -------------------------------------------------
 * SDSC-ORD/ingestion config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run ingestion -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // parameters

  decrypt = false
  rerun = true

  // Input data and output folder

  input_dir = 'assets/test_data/'
  output_dir = '/tmp/ingestion/graphdb-output/'
  terminology_folder = 'assets/test-external-terminologies/'
  buffer_size = 2
}
